* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* first part  */
.container {
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    text-align: right;
    padding-right: 230px;
}
.main-text {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 216px;
    padding-left: 845px;
}
.sub-text {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 876px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.btn {
    border: none;
    border-radius: 5px;
    color: #005FAC;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
}