* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* first part  */
.container {
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    text-align: right;
    padding-right: 230px;
    background-repeat: no-repeat;
}

.main-text {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 216px;
    padding-left: 845px;
}

.sub-text {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 876px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.btn {
    border: none;
    border-radius: 5px;
    color: #005FAC;
    padding: 21px 25px;
    font-weight: 600;
    font-size: 20px;
}

/* failures */
.failures {
    display: flex;
    justify-content: space-between;
    margin: 131px 322px 129.7px 206px;
    gap: 87px;
}

.failure-list {
    padding-top: 239px;
    padding-bottom: 84.3px;
}

.failure-head {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 24px
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 16px;
}

.li {
    padding: 8px 0px;
}

.list {
    list-style: none;
}

.plans {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 50px;
    color: #151414;
}

.overall-plan {
    display: flex;
    justify-content: space-around;

    padding: 0px 250px;
    padding-bottom: 130px;
}

.plan-1,
.plan-2,
.plan-3,
.plan-4 {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    padding-top: 10px;
    padding-bottom: 16px;
}

.plan-sub {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* fit-sec */
.fit-sec {
    width: 1140px;
    height: 300px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    margin: 0px 230px 130px;
}

.fit-img {
    padding: 59px 617px 59px 64px;
}

.fit-head {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

/* about-us */
.box {
    margin: 0px 230px 130px;
}

.about {
    text-align: center;
}

.about-description {
    color: lightskyblue;
    padding: 10px 100px 0px;
    margin-bottom: 130px;
}
/* footer */
.foo-box{
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    gap: 331px;
    background: #151414;
}
.fupa{
    padding: 24px 0px;
}
.btn2{
    background: #005FAC;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
border: none;
padding: 20px 36.02px;
}
.future, .subscribe h1{
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;
}
.future p{
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.email{
    width: 325px;
height: 64px;
border: 3px solid white;
background-color: #151414;
border-radius: 7px;
margin: 31px 0px 20px;
}
::placeholder{
    font-weight: 400;
font-size: 18px;
color: #F3F3F3;
padding: 21px 158px 22px 21px;
}